[submodule "libs/sfml"]
	path = libs/sfml
	url = https://github.com/SFML/SFML.git
[submodule "libs/box2d"]
	path = libs/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "libs/earcut"]
	path = libs/earcut
	url = https://github.com/mapbox/earcut.hpp.git
